body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.section {
    box-sizing: border-box;
    background-color: #e0e0e0;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    width: calc(33.33% - 20px); /* Adjusted width calculation */
    position: relative;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 125%;
}

p {
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .section {
        width: calc(50% - 20px); /* Adjusted width calculation */
    }
}

@media screen and (max-width: 767px) {
    .section {
        width: 100%;
    }
}
